<div class="container">



  <!-- Start -->
  <div class="search-sprints">
    <select class="form-control select2bs4" style="width: 100%" [(ngModel)]="selected" name="valueCheck"
      (change)="generateDataChart($event)" autocomplete="nope">
      <option [ngValue]="undefined" disabled>Choose sprint...</option>
      <option *ngFor="let sprint of sprints" [value]="sprint.sReference" [selected]="sprint == selected">
        {{sprint.stitre}}
      </option>
    </select>



  </div>
  <!-- End -->

  <ng-container *ngIf="chartOptions">
    <div id="brundownChart">
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
        [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
        [yaxis]="chartOptions.yaxis" [title]="chartOptions.title" [plotOptions]="chartOptions.plotOptions"
        [fill]="chartOptions.fill" [xaxis]="chartOptions.xaxis"></apx-chart>

    </div>
  </ng-container>
</div>