<div class="container">



  <!-- Start -->
  <!-- <div class="search-sprints">
    <select class="form-control select2bs4" style="width: 100%" [(ngModel)]="selected" name="valueCheck"
      (change)="generateDataChart($event)" autocomplete="nope">
      <option [ngValue]="undefined" disabled>Choose sprint...</option>
      <option *ngFor="let sprint of sprints" [value]="sprint.sReference" [selected]="sprint == selected">
        {{sprint.stitre}}
      </option>
    </select> 

  </div>-->
  <!-- End -->

 <!-- Start search -->
 <div class="col-md-12">
  <div class="input-group mb-3">
      <input type="text" class="form-control" style="font-family: FontAwesome;" placeholder="&#xf002; Search..." [(ngModel)]="searchSReference" />
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="sprintBurndownChartByRef()">
              Search
          </button>
      </div>
  </div>
</div>
<!-- End search -->

  <div *ngIf="selected;else selectList">
    <ng-container *ngIf="chartOptions">
      <div id="brundownChart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
          [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
          [yaxis]="chartOptions.yaxis" [title]="chartOptions.title" [plotOptions]="chartOptions.plotOptions"
          [fill]="chartOptions.fill" [xaxis]="chartOptions.xaxis"></apx-chart>

      </div>
    </ng-container>
  </div>

  <ng-template #selectList>
    <div class="msgList">
      <h4 class="text-info" style="text-align: center;"> Choose sprint to show the burndown chart </h4>
    </div>
  </ng-template>
</div>