<div class="container">
    <h3> View Project Details</h3>
    <div>
        <div>
            <label> <b> Unique ID: </b></label> {{project.uniqueID}}
        </div>
        <div>
            <label> <b> Title: </b></label> {{project.titre}}
        </div>
        <div>
            <label> <b> Description: </b></label> {{project.descriptionProject}}
        </div>

        <div>
            <label> <b> Start Date </b></label> {{project.dateDebut}}
        </div>

        <div>
            <label> <b> End Date: </b></label> {{project.dateFin}}
        </div>

        <div *ngFor="let sprint of project.sprints" >

            <details>
                <summary>Details</summary>
                List sprints:
            </details>
            <div>
                <label> <b> sUniqueID: </b></label> {{sprint.sUniqueID}}
            </div>
            <div>
                <label> <b> stitre: </b></label> {{sprint.stitre}}
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Full Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            Kenneth Valdez
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            fip@jukmuh.al
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Phone</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            (239) 816-9029
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Mobile</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            (320) 380-4539
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Address</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            Bay Area, San Francisco, CA
          </div>
        </div>


