<div class="card" *ngIf="showPOBoard || showScrumMBoard;else BadCredentials">
  <h3 class="text-center"> View Project Details</h3>

  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Unique ID:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{project.uniqueID}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Title:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{project.titre}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Description:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{project.descriptionProject}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Start Date:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{project.dateDebut}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"> End Date:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{project.dateFin}}
          </div>
        </div>

        <div class="without-table-tag" *ngIf="sprintList.length>0; else noSprintList">
          <h3> List Sprints of {{project.titre}} project: </h3>
          <br>
          <div class="table">
            <div class="row bold">
              <div class="col c5 border">ID</div>
              <div class="col c25 border">Title</div>
              <div class="col c50 border">Description</div>
              <div class="col c30 border">Start Date</div>
              <div class="col clast border">End Date</div>
            </div>
            <div class="row" *ngFor="let sprint of project.sprints">
              <div class="col c5 border">{{sprint.sUniqueID}}</div>
              <div class="col c25 border">{{sprint.stitre}}</div>
              <div class="col c50 border">{{sprint.sdescription}}</div>
              <div class="col c30 border">{{sprint.sdateDebut}}</div>
              <div class="col clast border">{{sprint.sdateFin}}</div>
            </div>
          </div>
        </div>

        <ng-template #noSprintList>
          <div class="text-danger font-weight-bold" style="padding-top: 10px;">
            <h3>There is no Sprint for this project!!</h3>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<ng-template #BadCredentials>
  <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>