<div class="card" *ngIf="showPOBoard || showScrumMBoard;else BadCredentials">
  <h3 class="text-center"> View Project Details</h3>



  <div class="col-md-12 detailsp">
    <div class="col-md-6">
      <div>

<div class="copytext">
   <h3>
          Click copy icon to copy all project details then click export details:
    </h3>
</div>
       
        <div class="container">
          <button (click)="doCopy()" title="Copy content in this box"
            class="material-icons copy-button no-print ng-star-inserted" aria-label="">
            <span class="copy-span" aria-hidden="true">content_copy</span>
          </button>
          <div class="PopUpFad">
            <a href="https://data.page/" target="popup"
              onclick="window.open('https://data.page/','popup','width=600,height=600,left=500,top=300');">
              Export details
            </a>
          </div>
          <!--  <p class="text-content"> {{viewListFiltred | json}} </p> -->
        </div>

      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Reference:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{projectdetails.pReference}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Title:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{projectdetails.titre}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Description:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{projectdetails.descriptionProject}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Start Date:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{projectdetails.dateDebut}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"> End Date:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{projectdetails.dateFin}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"> Total current Story points :</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{projectdetails.totalspCommitment}}
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"> Total initial Story points :</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{projectdetails.totalstorypointsinitiallycounts}}
          </div>
        </div>

        <div class="without-table-tag" *ngIf="sprintSorted?.length > 0; else noSprintList">
          <h3> List Sprints of {{projectdetails.titre}} project: </h3>
          <br>
          <div class="table">
            <div class="row bold">
              <div class="col c5 border">Reference</div>
              <div class="col c25 border">Title</div>
              <div class="col c50 border">Description</div>
              <div class="col c30 border">Start Date</div>
              <div class="col clast border">End Date</div>
            </div>
            <div class="row" *ngFor="let sprint of sprintSorted">
              <div class="col c5 border">{{sprint.sReference}}</div>
              <div class="col c25 border">{{sprint.stitre}}</div>
              <div class="col c50 border">{{sprint.sdescription}}</div>
              <div class="col c30 border">{{sprint.sdateDebut}}</div>
              <div class="col clast border">{{sprint.sdateFin}}</div>
            </div>
          </div>
        </div>

        <ng-template #noSprintList>
          <div class="text-danger font-weight-bold" style="padding-top: 10px;">
            <h3>There is no Sprint for this project!!</h3>
          </div>
        </ng-template>

        <!-- ************** -->
        <div class="without-table-tag" *ngIf="teamList?.length > 0; else noTeamList">
          <h3> List member of {{projectdetails.titre}} project: </h3>
          <br>
          <div class="table">
            <div class="row bold">
              <div class="col c5 border">Name</div>
              <div class="col c25 border">Email</div>
              <div class="col c50 border">Role</div>
            </div>
            <div class="row" *ngFor="let teamMember of projectdetails.users">
              <div class="col c5 border">{{teamMember.username}}</div>
              <div class="col c25 border">{{teamMember.email}}</div>

              <div class="col c50 border" *ngFor="let role of teamMember.roles">{{role.name}}</div>
            </div>
          </div>
        </div>
        <ng-template #noTeamList>
          <div class="text-danger font-weight-bold" style="padding-top: 10px;">
            <h3>There is no team for this project!!</h3>
          </div>
        </ng-template>
        <!-- ********Begi nimport csv or xslx file********** -->

        <main>
          <div class="row mt-5 mt-5">
            <div class="col-sm-6 offset-3">
              <div class="import_export">
                <div class="col-md-6">
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" name="file" class="custom-file-input" id="inputGroupFile" required
                        (change)="handleImport($event)"
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                      <label class="custom-file-label" for="inputGroupFile">Upload member list (csv or xlsx)</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <button (click)="handleExport()" class="btn btn-primary">
                    Export list member<i class="fa fa-download"></i>
                  </button>
                </div>
                <!-- <div class="col-sm-3">
                    <button (click)="handleExportXlsx()" class="btn btn-primary">
                      Export XLSX<i class="fa fa-download"></i>
                    </button>
                  </div> -->
              </div>
            </div>
          </div>

        </main>
        <!-- *******End************ -->
        <!-- PopUp Add memeber -->
        <!-- Start button popup -->
        <div class="box">
          <button style="margin: 50px; padding: 10px" type="button" class="button"
            (click)="openPopup(projectdetails.id)">Add Member
          </button>
        </div>

        <div class="modal" *ngIf="showScrumMBoard" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog reveal-modal" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add New Member</h4>
              </div>
              <div class="modal-body">
                <app-add-memeber></app-add-memeber>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End button popup -->
        <!-- End popUp Add memeber -->
      </div>
    </div>
  </div>


</div>
<ng-template #BadCredentials>
  <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>