<div class="card" *ngIf="showPOBoard || showScrumMBoard;else BadCredentials">
    <div class="container text-center">
        <h3>Sprint Search Using Project title</h3>
    </div>

    <div class="container container-search-sprints">
        <div class="search-sprints">
            <!--   <input class="form-control" type="text" name="search" (keypress)="cgetAllSprintsByProjectRef($event)"
                autocomplete="off"
                placeholder="&#61442; Searching sprint list by project reference, press 'Enter' to show List"
                [(ngModel)]="searchRef"> -->

            <!-- Start -->
            <select class="form-control select2bs4" name="country_code" id="country_code" style="width: 100%"
                [(ngModel)]="selected" name="valueCheck" (change)="cgetAllSprintsByProjectRef($event)">
                <option [ngValue]="undefined" disabled>Choose your project title...</option>
                <option *ngFor="let project of projects" [value]="project.pReference" [selected]="project == selected">
                    {{project.titre}}
                </option>
            </select>

            <!-- End -->
        </div>
        <div *ngIf="selected">
            <div *ngIf="showPOBoard;" class="col-md-10" style="margin-bottom: 10px;">

                <div *ngIf="selected" class="btn-group btn-group-toggle" role="group">
                    <button routerLink="/createsprint" class="btn btn-outline-primary">Add Sprint</button>
                    <button style="margin-left: 2px" class="btn btn-outline-danger" (click)="confirmDeleteAll()">Delete
                        All Sprint</button>

                </div>
                <div class="row titre" *ngIf="selected">
                    <h3>Project title: {{project?.titre}}</h3>
                </div>
            </div>

            <div class="table-responsive" style="text-align: center;">

                <table class="table table-striped">
                    <thead class="bg-none bgc-default-tp1">
                        <tr>
                            <th>Reference</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let sprint of sprints">
                            <td>{{sprint.sReference}}</td>
                            <td> {{sprint.stitre}}</td>
                            <td>{{sprint.sdescription}}</td>
                            <td>{{sprint.sdateDebut}}</td>
                            <td>{{sprint.sdateFin}}</td>
                            <td>
                                <div class="nowrap btn-group">
                                    <button class="btn btn-success" (click)="detailSprint(sprint.id)">Details</button>
                                    <button *ngIf="showPOBoard;" style="margin-left: 2px" class="btn btn-info"
                                        (click)="updateSprint(sprint.id)">Update</button>

                                    <button *ngIf="showPOBoard;" style="margin-left: 2px" class="btn btn-danger"
                                        (click)="confirmDeleteById(sprint.id)">Delete</button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<ng-template #BadCredentials>
    <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>