<div class="card" *ngIf="showPOBoard || showScrumMBoard;else BadCredentials">
    <div class="container text-center">
        <h3> Sprint list by Project reference</h3>
    </div>

    <div class="container container-search-sprints">
        <div class="search-sprints">
            <!--   <input class="form-control" type="text" name="search" (keypress)="cgetAllSprintsByProjectRef($event)"
                autocomplete="off"
                placeholder="&#61442; Searching sprint list by project reference, press 'Enter' to show List"
                [(ngModel)]="searchRef"> -->

            <!-- Start -->
            <!--  <select class="form-control select2bs4" name="country_code" id="country_code" style="width: 100%"
                [(ngModel)]="selected" name="valueCheck" (change)="cgetAllSprintsByProjectRef($event)">
                <option [ngValue]="undefined" disabled>Choose your project title...</option>
                <option *ngFor="let project of projects" [value]="project.pReference" [selected]="project == selected">
                    {{project.titre}}
                </option>
            </select> -->

            <!-- End -->
            <!-- Start search -->
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="&#xf002; Search..."
                        [(ngModel)]="searchPReference" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="searchSprintListByProjectRef()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <!-- End search -->
        </div>
        <div *ngIf="selectedListOption">
            <div *ngIf="showScrumMBoard;" class="col-md-10" style="margin-bottom: 10px;">

                <div class="btn-group btn-group-toggle" role="group">
                    <button routerLink="/createsprint" class="btn btn-outline-primary">Add Sprint</button>
                    <button style="margin-left: 2px" class="btn btn-outline-danger" (click)="confirmDeleteAll()">Delete
                        All Sprint</button>

                </div>

                <div class="row titre" *ngIf="selectedListOption">
                    <h3>Project: {{project?.pReference}} -- {{project?.titre}}</h3>
                </div>
            </div>

            <div class="table-responsive" style="text-align: center;" *ngIf="getArray">

                <div class="search-boxs">
                    <input class="form-control" type="text" name="search" autocomplete="off"
                        placeholder="&#xf002; Searching sprint by any item" [(ngModel)]="searchRef">
                </div>

                <!-- Pagination -->
                <div class="d-flex flex-row-reverse bd-highlight mb-2">
                    <div class="p-2 bd-highlight">
                        <select (change)="onTableSizeChange($event)" class="custom-select">
                            <option *ngFor="let size of tableSizes" [ngValue]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- End Pagination -->
                <div class="buttonexprt float-right">
                    <button (click)="handleExport()" class="btn btn-info">
                        Export list<i class="fa fa-download"></i>
                    </button>
                </div>
                <table class="table table-striped">
                    <thead class="bg-none bgc-default-tp1">
                        <tr>
                            <th>Reference</th>
                            <th>Title</th>
                            <!--  <th>Description</th> -->
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- "sprintsList" => search by refrence && "sprints" option list-->
                        <tr *ngFor="let sprint of sprintsList | filter:searchRef | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                           };  let i = index ">
                            <td>{{sprint.sReference}}</td>
                            <td> {{sprint.stitre}}</td>
                            <!--  <td>

                                {{sprint.sdescription}}
                            </td> -->
                            <td>{{sprint.sdateDebut}}</td>
                            <td>{{sprint.sdateFin}}</td>
                            <td>
                                <div class="nowrap btn-group">
                                    <button class="btn btn-success" (click)="detailSprint(sprint.id)">Details</button>
                                    <button *ngIf="showScrumMBoard;" style="margin-left: 2px" class="btn btn-info"
                                        (click)="updateSprint(sprint.id)">Update</button>

                                    <button *ngIf="showScrumMBoard;" style="margin-left: 2px" class="btn btn-danger"
                                        (click)="confirmDeleteById(sprint.id)">Delete</button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #BadCredentials>
    <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>