<div class="card" *ngIf="showPOBoard || showScrumMBoard || showDevBoard;else BadCredentials">
    <div class="container text-center">
        <h3>Search Story by sprint reference</h3>
    </div>

    <div class="container container-search-sprints">
      <div class="search-sprints">

          
             <!-- <select class="form-control select2bs4" name="country_code" id="country_code" style="width: 100%"
                [(ngModel)]="selected" name="valueCheck" (change)="cgetAllStoryBySprintRef($event)">
                <option [ngValue]="undefined" disabled>Choose your sprint By Unique Id...</option>
                <option *ngFor="let sprint of sprints" [value]="sprint.sReference" [selected]="sprint == selected">
                    {{sprint.sReference}} -- {{sprint.stitre}}
                </option>
            </select>  -->

            
        
         <!-- Start search -->
         <div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="&#xf002; search..." [(ngModel)]="searchSReference" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="findStoryBySprintReference()">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <!-- End search -->
    </div>
    <div *ngIf="selectedListOption" >
            <div *ngIf="showScrumMBoard;" class="col-md-10" style="margin-bottom: 10px;">

                <div *ngIf="selectedListOption" class="btn-group btn-group-toggle" role="group">
                    <button routerLink="/createstory" class="btn btn-outline-primary">Add Story</button>
                    <button style="margin-left: 2px" class="btn btn-outline-danger" (click)="confirmDeleteAll()">Delete
                        All Story</button>
                </div>
                <div class="row titre" *ngIf="selectedListOption">
                    <h3>Sprint : {{sprint?.sReference}} -- {{sprint?.stitre}}</h3>
                </div>
            </div>

            <!-- Paginatio -->


            <!-- End Pagination -->

            <div class="table-responsive" style="text-align: center;" *ngIf="getHtmlArray">

                <div class="search-boxs">
                    <input class="form-control" type="text" name="search" autocomplete="off"
                        placeholder="&#61442; search story by any item" [(ngModel)]="searchRef">
                </div>

                  <!-- Pagination -->
                  <div class="d-flex flex-row-reverse bd-highlight mb-2">
                    <div class="p-2 bd-highlight">
                        <select (change)="onTableSizeChange($event)" class="custom-select">
                            <option *ngFor="let size of tableSizes" [ngValue]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- End Pagination -->

                <table class="table table-striped">
                    <thead class="bg-none bgc-default-tp1">
                        <tr>
                            <th>Reference</th>
                            <th>Title</th>
                            <!-- <th>Description</th> -->
                            <th>Story Point</th>
                            <th>SP Completed</th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let story of storyList  | filter:searchRef  | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                           };  let i = index ">
                            <td>{{story.stReference}}</td>
                            <td> {{story.stname}}</td>
                            <!-- <td>{{story.stdescription}}</td> -->
                            <td>{{story.storyPoint}}</td>
                            <td>{{story.spCompleted}}</td>
                            <td>{{story.priority}}</td>
                            <td>
                                <div class="nowrap btn-group">
                                    <button class="btn btn-success" (click)="detailStory(story.id)">Details</button>
                                    <button *ngIf="showScrumMBoard;" style="margin-left: 2px" class="btn btn-info"
                                        (click)="updateStory(story.id)">Update</button>

                                    <button *ngIf="showScrumMBoard;" style="margin-left: 2px" class="btn btn-danger"
                                        (click)="confirmDeleteById(story.id)">Delete</button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #BadCredentials>
    <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>