<!-- <div class="container"> -->

<!--    <p>{{ content }}</p> -->
<!-- ****Info Chart**** -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class=" text-center">Process health and finding bottlenecks</h4>
            </div>
        </div>
        <!--   <div class="row">
          <h2 class="card-title text-success">Info Card:</h2>
      </div> -->
        <div class="header-body" *ngIf="SpObject">
            <div class="row">
                <div class="col-xl-6 h-100">
                    <div class="card  card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Percentage Story completed:
                                    </h5>
                                    <!--  <span class="h2 font-weight-bold mb-0"> -->
                                    <div *ngIf="currenttotalSp">
                                        <app-current-sp-in-project-chart [progressSptotal]="currenttotalSp">
                                        </app-current-sp-in-project-chart>
                                    </div>
                                    <!-- </span> -->
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <!-- <i class="fas fa-chart-bar"></i>fa-percent -->
                                        <i class="fas fa-percent"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <!--  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> -->
                                <span class="text-nowrap">Since last update</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 h-100">
                    <div class="card h-100 card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Story points Realized:</h5>
                                    <div *ngIf="SpObject">
                                        <app-commitment-sp-in-project-chart [progressSptotal]="SpObject">
                                        </app-commitment-sp-in-project-chart>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <!--   <i class="fas fa-percent"></i> -->
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <!-- <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span> -->
                                <span class="text-nowrap">Since last update</span>
                            </p>
                        </div>
                    </div>
                </div>

                <!--  <div class="col-xl-3 col-lg-6">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col">
                                  <h5 class="card-title  text-uppercase text-muted mb-0">Performance</h5>
                                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                              </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                      <i class="fas fa-users"></i>
                                  </div>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm">
                              <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                              <span class="text-nowrap">Since last month</span>
                          </p>
                      </div>
                  </div>
              </div> -->
            </div>
        </div>
        <!-- **** Body Chart ***** -->
        <div class="card-group">

            <div class="col p-4">
                <div class="card h-100  border-secondary mb-4">

                    <div class="card-body">
                        <p class="card-text">
                            <app-task-statusc-chart></app-task-statusc-chart>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated</small>
                    </div>
                </div>
            </div>

            <div class="col p-4">
                <div class="card h-100  border-secondary mb-4">
                    <div class="card-body">
                        <p class="card-text">
                            <app-efficacity-chart (totalSpChange)="getTotalsp($event)">
                            </app-efficacity-chart>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated</small>
                    </div>
                </div>
            </div>
            <hr>
            <hr>

        </div>
        <div class="card-group">
            <div class="col p-4">
                <div class="card h-100  border-secondary mb-4">
                    <div class="card-body">

                        <p class="card-text">
                            <app-radar-sattus-task-chart></app-radar-sattus-task-chart>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated</small>
                    </div>
                </div>
            </div>
            <hr>
            <hr>
            <div class="col p-4">
                <div class="card h-100 border-secondary mb-4">
                    <div class="card-body">

                        <p class="card-text">

                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated</small>
                    </div>
                </div>
            </div>
        </div>
    </div>