<div class="container">

    <!-- Start -->
    <div class="search-sprints">
        <select class="form-control select2bs4" style="width: 100%" [(ngModel)]="selected" name="valueCheck"
            (change)="getreleaseBrundownChartByProject($event)">
            <option [ngValue]="undefined" disabled>Choose project...</option>
            <option *ngFor="let projet of projects" [value]="projet.pReference" [selected]=" projet == selected">
                {{projet.titre}}
            </option>
        </select>



    </div>
    <!-- End -->
    <div *ngIf="selected;else selectList">
    <ng-container *ngIf="chartOptions">
        <div id="releaseBurndown">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [responsive]="chartOptions.responsive" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend"
                [fill]="chartOptions.fill" [title]="chartOptions.title"></apx-chart>
        </div>
    </ng-container>
</div>

<ng-template #selectList>
  <div class="msgList">
    <h4 class="text-info" style="text-align: center;"> Choose your item from list to display the
        Release brundoun Chart </h4>
  </div>
</ng-template>
</div>