<div class="card" *ngIf="showPOBoard || showScrumMBoard;else BadCredentials">
    <div class="container text-center">
        <h3>Story list</h3>
    </div>

        <div>
            <div *ngIf="showScrumMBoard;" class="col-md-10" style="margin-bottom: 10px;">

                <div  class="btn-group btn-group-toggle" role="group">
                    <button routerLink="/createstory" class="btn btn-outline-primary">Add Story</button>
                    <button style="margin-left: 2px" class="btn btn-outline-danger" (click)="confirmDeleteAll()">Delete
                        All Story</button>

                </div>
               
            </div>
          

            <div class="table-responsive" style="text-align: center;">

                <div class="col-md-12 titre" style="text-align: justify;">
                    <h3>Sprint : {{sprint?.sReference}} -- {{sprint?.stitre}}</h3>
                </div>

                  <!-- Pagination -->
                  <div class="d-flex flex-row-reverse bd-highlight mb-2">
                    <div class="p-2 bd-highlight">
                        <select (change)="onTableSizeChange($event)" class="custom-select">
                            <option *ngFor="let size of tableSizes" [ngValue]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- End Pagination -->
                <div class="buttonexprt float-right">
                    <button (click)="handleExport()" class="btn btn-info">
                        Export list<i class="fa fa-download"></i>
                    </button>
                </div>
                <table class="table table-striped">
                    <thead class="bg-none bgc-default-tp1">
                        <tr>
                            <th>Reference</th>
                            <th>Title</th>
                           <!--  <th>Description</th> -->
                            <th>Story Point</th>
                            <th>SP Completed</th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let story of stories | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                           };  let i = index ">
                            <td>{{story.stReference}}</td>
                            <td> {{story.stname}}</td>
                           <!--  <td>{{story.stdescription}}</td> -->
                            <td>{{story.storyPoint}}</td>
                            <td>{{story.spCompleted}}</td>
                            <td>{{story.priority}}</td>
                            <td>
                                <div class="nowrap btn-group">
                                    <button class="btn btn-success" (click)="detailStory(story.id)">Details</button>
                                    <button *ngIf="showScrumMBoard;" style="margin-left: 2px" class="btn btn-info"
                                        (click)="updateStory(story.id)">Update</button>

                                    <button *ngIf="showScrumMBoard;" style="margin-left: 2px" class="btn btn-danger"
                                        (click)="confirmDeleteById(story.id)">Delete</button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
            </div>
        </div>

</div>
<ng-template #BadCredentials>
    <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>