<div class="container">

   <!--    <p>{{ content }}</p> -->

   <div class="row">
      <h4 class="mb-4">Mesurer les travaux en cours</h4>
   </div>



   <!-- <div class="card-group"> -->
   <div class="card">
      <!-- <img class="card-img-top" src="../images/picture.png" alt="">  -->
      <div class="card-body">
         <h5 class="card-title">Velocity Chart</h5>
         <p class="card-text">
            <app-velocity-chart (datePickedV)="getUpdatedDateV()"></app-velocity-chart>
         </p>
      </div>
      <div class="card-footer">
         <small class="text-muted">Last updated {{onDatePickedV}}</small>
      </div>
   </div>
   <hr>
   <hr>
   <div class="card">
      <!-- <img class="card-img-top" src="../images/picture.png" alt=""> -->
      <div class="card-body">
         <h5 class="card-title">Brundown Chart</h5>
         <p class="card-text">
            <app-burndown (datePickedB)="getUpdatedDateB()"></app-burndown>
         </p>
      </div>
      <div class="card-footer">
         <small class="text-muted">Last updated {{onDatePickedB}}</small>
      </div>
   </div>
   <hr>
   <hr>
   <div class="card">
      <div class="card-body">
         <h5 class="card-title">Release brundoun Chart</h5>
         <p class="card-text">
            <app-release-burndown (datePicked)="getUpdatedDate()"></app-release-burndown>
         </p>
      </div>
      <div class="card-footer">
         <small class="text-muted">Last updated {{onDatePicked}}</small>
      </div>
   </div>
   <!-- </div> -->





</div>