<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">KHMeher</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item" *ngIf="showPOBoard">
          <a href="/po" class="nav-link" routerLink="po">Product Owner Board</a>
        </li>
        <li class="nav-item" *ngIf="showScrumMBoard || showPOBoard">
          <a href="/scrm" class="nav-link" routerLink="scrm">Scrum Master Board</a>
        </li>
        <li class="nav-item">
          <a href="/dev" class="nav-link" *ngIf="isLoggedIn" routerLink="dev">Developer Board</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/signup" class="nav-link" routerLink="signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/signin" class="nav-link" routerLink="signin">Signin</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  