<div id="app">


  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <a href="#" class="navbar-brand">KPIs Agile</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">Home </a>
          </li>
          <li class="nav-item" *ngIf="showPOBoard">
            <a href="/po" class="nav-link" routerLink="po">Product Owner Board</a>
          </li>
          <li class="nav-item" *ngIf="showScrumMBoard || showPOBoard">
            <a href="/scrm" class="nav-link" routerLink="scrm">Scrum Master Board</a>
          </li>
          <li class="nav-item">
            <a href="/dev" class="nav-link" *ngIf="isLoggedIn" routerLink="dev">Developer Board</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/signup" class="nav-link" routerLink="signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/signin" class="nav-link" routerLink="signin">Signin</a>
          </li>
        </ul>

       <ul class="navbar-nav" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>

        </ul>


      </div>
    </ul>
  </nav>


  <!-- Sidebar Menu -->
  <!-- Sidebar Product Owner -->
  <div class="sidebar" *ngIf="showPOBoard">
    <a href="/projectList" routerLinkActive="/projectList">Manage Projet</a>
    <a href="/sprintList" routerLinkActive="/sprintList">Manage Sprint</a>
    <a href="/storyList" routerLinkActive="/sprintList">Manage Story</a>
  </div>

  <!-- Sidebar Scrum Master -->
  <div class="sidebar" *ngIf="showScrumMBoard">
    <a href="/projectList" routerLinkActive="/projectList">List Projet</a>
    <a href="/sprintList" routerLinkActive="/sprintList">List Sprint</a>
    <a href="/storyList" routerLinkActive="/sprintList">List Story</a>
  </div>

  <!-- ********* Conten with Role********** -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!-- End Sidebar Menu -->

  <!-- *********Public Content********** -->
  <div class="container" *ngIf="!isLoggedIn">
    <router-outlet></router-outlet>
  </div>
</div>
