<div id="app">


  <nav class="navbar navbar-expand navbar-dark bg-dark">

    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <div class="logo">
          <a href="#" class="navbar-brand"> <img src="{{imageSrc}}" alt="{{imageAlt}}" /></a>
        </div>
        <!-- routerLinkActive="active" -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">Home </a>
          </li>
          <li class="nav-item" *ngIf="showPOBoard || showScrumMBoard">
            <a href="/po" class="nav-link" routerLink="po" routerLinkActive="active">Measuring work in progress</a>
          </li>
          <li class="nav-item" *ngIf="showScrumMBoard || showPOBoard">
            <a href="/scrm" class="nav-link" routerLink="scrm" routerLinkActive="active">Process health and finding
              bottlenecks</a>
          </li>
          <li class="nav-item">
            <a href="/dev" class="nav-link" *ngIf="isLoggedIn" routerLink="dev" routerLinkActive="active">Measuring code
              quality</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/signup" class="nav-link" routerLink="signup" routerLinkActive="active">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/signin" class="nav-link" routerLink="signin" routerLinkActive="active">Sign In</a>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>

        </ul>


      </div>
    </ul>
  </nav>


  <!-- Sidebar Menu -->
  <!-- Sidebar Scrum Master -->
  <div class="sidebar" *ngIf="showScrumMBoard">
    <a href="projectList" routerLink="projectList" routerLinkActive="active2">Manage Projet</a>
    <a href="teamList" routerLink="teamList" routerLinkActive="active2">Manage Users</a>
    <a href="sprintList" routerLink="sprintList" routerLinkActive="active2">Manage Sprint</a>
    <a href="storyList" routerLink="storyList" routerLinkActive="active2">Manage Story</a>
    <a href="taskList" routerLink="taskList" routerLinkActive="active2">Manage Task</a>
  </div>


  <!-- Sidebar Product Owner -->
  <div class="sidebar" *ngIf="showPOBoard">
    <a href="/projectList" routerLink="projectList" routerLinkActive="active2">List Projet</a>
    <a href="/sprintList" routerLink="sprintList" routerLinkActive="active2">List Sprint</a>
    <a href="/storyList" routerLink="storyList" routerLinkActive="active2">List Story</a>
    <a href="/taskList" routerLink="taskList" routerLinkActive="active2">List Task</a>
  </div>

  <!-- Sidebar Developer -->
  <div class="sidebar" *ngIf="showDevBoard">
    <!-- <a href="/storyList" routerLink="storyList" routerLinkActive="active2">List Story</a> -->
    <a href="/taskList" routerLink="taskList" routerLinkActive="active2">List Task</a>
  </div>
 <!-- End Sidebar Menu -->
  <!-- ********* Conten with Role********** -->
    <div class="content">
     <router-outlet></router-outlet>
    </div>
  
 

  <!-- *********Public Content********** -->
  <div class="contentWithoutLogin" *ngIf="!isLoggedIn">
    <router-outlet></router-outlet>
  </div>


 
</div> 
<footer class="footer text-center text-lg-start fixed-bottom">

    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">
          <div class="copyright">
            <p> <a href="#" target="_blank">Agile KPIs Kit</a> by AlterCall Tunisie</p>
          </div>
        </div>
      </div>
    
  </footer>