<div class="chartbrand">
    <ng-container *ngIf="chartOptions">
        
            <div id="HChart">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
                    [title]="chartOptions.title" [yaxis]="chartOptions.yaxis"></apx-chart>
            </div>
        </ng-container>
    <div class="textbrand">
        <p>
            Efficiency is a very useful metric  mostly overlooked by development teams. 
            flow, it gives insights into the distribution between actual work and waiting periods.
             It’s a rare case when a developer works on one thing at a time without waiting. 
             The reality is usually more complex. And “work-in-progress” is a name that doesn’t always match status.

        </p>
    </div>
</div>