#storyPointsCChart{
    width: auto;
    margin: 35px auto;
}

/*
.apexcharts-legend {
    display: block;
    min-height: 50px;
    margin-bottom: 50px;
    position: relative !important;
    right: 0px;

     left: 30px; 
     top: 99px; 

    display: block;
}
*/

.msgList{
    padding-top: 25px;
    width: auto;
    margin: 35px auto;
  }
  