<div class="container">

  <!-- Start -->
  <div class="search-sprints">
    <select class="form-control select2bs4" style="width: 100%" [(ngModel)]="selected" name="valueCheck"
      (change)="getVelocityChartByProject($event)">
      <option [ngValue]="undefined" disabled>Choose project...</option>
      <option *ngFor="let projet of projects" [value]="projet.pReference" [selected]=" projet == selected">
        {{projet.titre}}
      </option>
    </select>



  </div>
  <!-- End -->
  <div *ngIf="selected;else selectList">
    <ng-container *ngIf="chartOptions">
      <div id="velocityChart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
          [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
          [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
      </div>
    </ng-container>
  </div>

  <ng-template #selectList>
    <div class="msgList">
      <h4 class="text-info" style="text-align: center;"> Choose your item from list to display the
        Velocity Chart </h4>
    </div>
  </ng-template>

</div>


