<div class="card" *ngIf="showPOBoard;else BadCredentials">
    <h3 style="text-align: center;">Project List</h3>

<div class="col-md-10" style="margin-bottom: 10px;">
    <div class="btn-group btn-group-toggle" role="group">
        <button routerLink="/createproject" class="btn btn-outline-primary">Add Project</button>
        <button style="margin-left: 2px" class="btn btn-outline-danger" (click)=" confirmDeleteAll()">Delete All
            project</button>

    </div>
</div>
   

    <div class="table-responsive" style="text-align: center;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Unique ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects">
                    <td>{{project.uniqueID}}</td>
                    <td> {{project.titre}}</td>
                    <td>{{project.descriptionProject}}</td>
                    <td>{{project.dateDebut}}</td>
                    <td>{{project.dateFin}}</td>
                    <td>
                        <div class="nowrap">
                            <button class="btn btn-info" (click)="updateProject(project.id)">Update</button>
                            <button style="margin-left: 2px" class="btn btn-danger"
                                (click)="confirmDeleteById(project.id)">Delete</button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<ng-template #BadCredentials>
   <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3> 
  </ng-template>