<div class="row" *ngIf="showScrumMBoard;else BadCredentials">
    <div class="col-md-12">

        <div class="card card-container">
            <h3 style="text-align: center;"> Update User</h3>
            <form [formGroup]="form" (ngSubmit)="onSubmitUpdate()">

                <!-- Username -->
                <div class="form-group inner-addon right-addon">
                    <label class="form-label">Username*</label>
                    <div class="input-group col-12 mx-auto">
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && fctl['username'].errors }" />
                       
                    <div *ngIf="submitted && fctl['username'].errors" class="invalid-feedback">
                        <div *ngIf="fctl['username'].errors['required']">Username is required</div>
                    </div> 
                </div>
                </div>




                <!-- password -->
                <div class="form-group  inner-addon right-addon">
                    <label class="form-label">Reset password*</label>
                    <div class="input-group col-12 mx-auto">
                    <input name="password" [type]="showPasswordOnPress ? 'text' : 'password'" formControlName="password"
                        class="form-control pwd-control" [ngClass]="{ 'is-invalid': submitted && fctl['password'].errors }" placeholder="Enter your new password"/>
                        <div 
                        (mousedown)="showPasswordOnPress = !showPasswordOnPress" 
                        (mouseup)="showPasswordOnPress = !showPasswordOnPress">
                          <i alt="show" class="fas fa-eye eye-show" 
                          
                          [class.hide]="showPasswordOnPress"></i>
                          <i alt="hide" class="fas fa-eye-slash eye-hide" 
                          
                          [class.hide]="!showPasswordOnPress"></i>
                        </div>
                       

                    <div *ngIf="submitted && fctl['password'].errors" class="invalid-feedback">
                        <div *ngIf="fctl['password'].errors['required']">Password is required</div>
                    </div> 
                </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>

                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #BadCredentials>
    <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>