<div class="container">
  <!--   <header class="jumbotron">
      <p>{{ content }}</p>
    </header> -->

  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">Measuring code quality</h4>
        </div>
      </div>


      <div class="card-group">
        <div class="col p-4">
            <div class="card h-100  border-secondary mb-4">
                <!-- <img class="card-img-top" src="../images/picture.png" alt="">  -->
                <div class="card-body">
                    <!-- <h5 class="card-title text-success">Velocity Chart</h5> -->
                    <p class="card-text">
                      <app-upload-files></app-upload-files>
                     
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>
    </div>



    </div>

  </div>
</div>