<div class="card" *ngIf="showPOBoard || showScrumMBoard || showDevBoard;else BadCredentials">
    <h3 class="text-center"> View Task Details</h3>

    <div class="col-md-12 detailsp">
      <div class="col-md-10"><button  class="btn btn-outline-primary" (click)="gotToTaskListBystref()">Back to task List</button> </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Reference:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.tReference}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Title:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.tname}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Description:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.tdescription}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Start Date:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.tdateDebut}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">End Date:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.tdateFin}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Status:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.status}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Task Type:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.typeTask}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Estimation:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.estimation}} Story points
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Bugs:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{task.bugs}} bugs
                    </div>
                </div>



 <!-- ************** -->
 <div class="without-table-tag" *ngIf="teamList?.length > 0; else noTeamList">
    <h3> List member of {{task.tname}} task: </h3>
    <br>
    <div class="table">
      <div class="row bold">
        <div class="col c5 border">Name</div>
        <div class="col c25 border">Email</div>
        <div class="col c50 border">Role</div>
      </div>
      <div class="row" *ngFor="let teamMember of task.users">
        <div class="col c5 border">{{teamMember.username}}</div>
        <div class="col c25 border">{{teamMember.email}}</div>

        <div class="col c50 border" *ngFor="let role of teamMember.roles">{{role.name}}</div>
      </div>
    </div>
  </div>
  <ng-template #noTeamList>
    <div class="text-danger font-weight-bold" style="padding-top: 10px;">
      <h3>There is no team for this task!!</h3>
    </div>
  </ng-template>
   <!-- ********Begi nimport csv or xslx file********** -->

   <main>
    <div class="row mt-5 mt-5">
      <div class="col-sm-6 offset-3">
        <div class="import_export">
          <div class="col-md-6">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="inputGroupFile" required
                  (change)="handleImport($event)"
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <label  class="custom-file-label" for="inputGroupFile">Upload member list (csv or xlsx)</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <button (click)="handleExport()" class="btn btn-primary">
              Export list member<i class="fa fa-download"></i>
            </button>
          </div>
          <!-- <div class="col-sm-3">
            <button (click)="handleExportXlsx()" class="btn btn-primary">
              Export XLSX<i class="fa fa-download"></i>
            </button>
          </div> -->
        </div>
      </div>
    </div>

  </main>
  <!-- *******End************ -->
  <!-- ************** -->
   <!-- PopUp Add memeber -->
  <!-- Start button popup -->
  <div class="box">
  <button style="margin: 50px; padding: 10px" type="button" class="button"
    (click)="openPopup(task.id)">Add Member
  </button>
  </div>

  <div class="modal" *ngIf="showScrumMBoard" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog reveal-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add New Member</h4>
        </div>
        <div class="modal-body">
          <app-add-member></app-add-member>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End button popup -->
  <!-- End popUp Add memeber -->



            </div>
        </div>
    </div>
</div>
<ng-template #BadCredentials>
    <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>