<div class="card" *ngIf="showPOBoard || showScrumMBoard;else BadCredentials">
  <h3 class="text-center"> View Sprint Details</h3>

  <!-- Start button popup -->
  <div class="buttonContainer d-flex">

      <div class="btn btn-info  p-2 sprintDButton" (click)="openPopup(sprint.id)">Add story points completed</div>
    <div class="btn btn-danger sprintDButton ml-auto p-2" (click)="backToSprintListByRefProject()">Back to
        Sprint List
      </div>
  </div>
  <div class="modal" *ngIf="showScrumMBoard" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog reveal-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add stories points completed</h4>
        </div>
        <div class="modal-body">
          <app-add-sp-completed [storePreference]="referenceProject"></app-add-sp-completed>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- End button popup -->
  <div class="col-md-12 detailsp">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Reference:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{sprint.sReference}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Title:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{sprint.stitre}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Description:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{sprint.sdescription}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Start Date:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{sprint.sdateDebut}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">End Date:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{sprint.sdateFin}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Story points commitment:</h6>
          </div>
          <div class="col-sm-9 text-primary">
            {{sprint.workCommitment}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Story points completed:</h6>
          </div>
          <div class="col-sm-9 text-primary">
            {{sprint.workCompleted}}
          </div>
        </div>
        <hr>
        <!--  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Ideal line:</h6>
          </div>
          <div class="col-sm-9 text-primary">
            {{idealLine}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Worked story points:</h6>
          </div>
          <div class="col-sm-9 text-primary">
            {{sprint.workedlarray}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"> Days in sprint: </h6>
          </div>
          <div class="col-sm-9 text-primary">
            {{dayinsprint}}
          </div>
        </div> -->
        <hr>
        <div class="without-table-tag" *ngIf="storiesSorted?.length > 0; else noStoriesList">
          <h3> List Story of {{sprint.titre}} sprint: </h3>
          <br>
          <div class="table">
            <div class="row bold">
              <div class="col c5 border">Reference</div>
              <div class="col c25 border">Title</div>
              <div class="col c50 border">Description</div>
              <div class="col c30 border">Story points</div>
              <div class="col c30 border">SP Completed</div>
              <div class="col clast border">Priority</div>
            </div>
            <div class="row" *ngFor="let story of storiesSorted">
              <div class="col c5 border">{{story.stReference}}</div>
              <div class="col c25 border">{{story.stname}}</div>
              <div class="col c50 border">{{story.stdescription}}</div>
              <div class="col c30 border">{{story.storyPoint}}</div>
              <div class="col c30 border">{{story.spCompleted}}</div>
              <div class="col clast border">{{story.priority}}</div>
            </div>
          </div>
        </div>

        <!-- ************** -->
        
        <ng-container *ngIf="chartOptions">
          <div id="burndownChartBySprint">
            <apx-chart [series]="chartOptions?.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
              [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
              [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
              [yaxis]="chartOptions.yaxis" [title]="chartOptions.title" [plotOptions]="chartOptions.plotOptions"
              [fill]="chartOptions.fill" [xaxis]="chartOptions.xaxis"></apx-chart>

          </div>
        </ng-container>
        <!-- *************** -->

        <ng-template #noStoriesList>
          <div class="text-danger font-weight-bold" style="padding-top: 10px;">
            <h3>There is no Story for this sprint!!</h3>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

</div>
<ng-template #BadCredentials>
  <h3 class="text-danger " style="text-align: center; margin: 0px auto;"> Bad Credentials </h3>
</ng-template>