/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }

  .table {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .search-boxs {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }