
@import "~bootstrap/scss/bootstrap.scss"; 



/* Styling Logo*/

.logo{
    padding: 3vh 3vw;
    text-align: left;
    width: 20vw;
    
   
}

.logo img {
    /* height: auto; */
    height: 57px;
    width: 167px;
}

.logo2{
    /*padding: 3vh 3vw;*/
    margin: 0px auto;
    text-align: left;
    width: auto;
    
   
}

.logo2 img {
    /* height: auto; */
    height: 57px;
    width: 167px;
}

// static chart
.chartbrand{
    width: auto;
  }
.textbrand{
   width: auto;
  }

#HChart{
    margin: 25px 25px 25px 25px;
  }

.borderSeparator{
    border-radius: 5%;
    box-shadow: 10px 5px 5px rgb(70, 64, 64);
    padding:20px;
}