<div class="contentWithlogin">
    <!--  <header class="jumbotron">
        <p>{{content}}</p>
    </header> -->
    <div class="nameapp">
        <h1> What is Agile KPIs Kit?</h1>
    </div>

    <p>

        Project management is nearly impossible without data tracker. Fortunately, <b>Agile KPIs Kit (AKK)</b> this is
        software which standardizes the process with story points,
        making it easier to estimate difficulty and measure progress. Using these standardized metrics,
        key performance indicators (KPIs), enable data-driven decisions and make it easier to keep projects on track,
        hit their project objectives for help Optimize Product Delivery
        <br>
        Below are some examples of these indicators. <i>FYI: These are static graphics:</i>

    </p>
    <div class="d-flex mvh-100 flex-wrap forfooter">
        <div class="w-50 borderSeparator">
            <app-static-velocity> </app-static-velocity>
        </div>
        <div class="w-50 borderSeparator">
            <app-static-burndown></app-static-burndown>
        </div>
        <div class="w-50 borderSeparator">
            <app-static-release></app-static-release>
        </div>
        <div class="w-50 borderSeparator">
            <app-static-efficacity></app-static-efficacity>
        </div>
        <!--  <div class="brand"><img src="https://picsum.photos/200/80/?image=280" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=320" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=360" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=400" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=440" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=480" width="100" /></div> -->
    </div>
    

    <!-- end -->
</div>
