<div class="container">
    <!--  <header class="jumbotron">
        <p>{{content}}</p>
    </header> -->

    <h1>What Are Agile KPI Kit Metrics?</h1>
    <p>
        It is a means of measuring a team’s performance to ensure they are on track to hit their project objectives. 
An Agile team uses specific metrics to measure performance throughout each iteration or sprint. These indicators are used in strategic planning to guide the direction of the following iteration. 
    </p>
    <div class="brands">



        <div class="brand card-body">
            
                <app-static-velocity> </app-static-velocity>
            
        </div>
        <div class="brand card-body">
            <app-static-burndown></app-static-burndown>
        </div>
        <div class="brand card-body">
            <app-static-release></app-static-release>
        </div>
        <div class="brand card-body">
            <app-static-efficacity></app-static-efficacity>
        </div>
        <!--  <div class="brand"><img src="https://picsum.photos/200/80/?image=280" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=320" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=360" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=400" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=440" width="100" /></div>
        <div class="brand"><img src="https://picsum.photos/200/80/?image=480" width="100" /></div> -->
    </div>

    <!-- end -->
</div>